Repository reubeno/brush, pull requests merged in 2025-05, with the labels that each got.

#466 fix(builtin): fix issues with 'builtin' invoking declaration builtins
  brush-core/src/builtins/builtin_.rs
  brush-core/src/builtins/factory.rs
  brush-core/src/interp.rs
  brush-shell/tests/cases/builtins/builtin.yaml
Labels: bug, area: builtins

#480 test: add compat test for $_ (not yet passing)
  brush-core/src/shell.rs
  brush-shell/tests/cases/well_known_vars.yaml
Labels: area: testing

#478 feat(builtins): implement basic `bind -x` support
  Cargo.lock
  brush-core/Cargo.toml
  brush-core/src/builtins/bind.rs
  brush-core/src/error.rs
  brush-core/src/interfaces.rs
  brush-core/src/interfaces/keybindings.rs
  brush-core/src/lib.rs
  brush-core/src/shell.rs
  brush-core/src/sys.rs
  brush-core/src/sys/stubs.rs
  brush-core/src/sys/stubs/input.rs
  brush-core/src/sys/unix.rs
  brush-core/src/sys/unix/input.rs
  brush-core/src/sys/wasm.rs
  brush-core/src/sys/windows.rs
  brush-core/src/trace_categories.rs
  brush-interactive/src/interactive_shell.rs
  brush-interactive/src/reedline/edit_mode.rs
  brush-interactive/src/reedline/mod.rs
  brush-interactive/src/reedline/reedline_shell.rs
  brush-parser/src/error.rs
  brush-parser/src/lib.rs
  brush-parser/src/readline_binding.rs
  brush-shell/src/events.rs
  deny.toml
Labels: enhancement, area: input

#494 docs: add discord invite to readme
  README.md
Labels: area: documentation

#490 feat(mapfile): implement `-n`, `-d`, `-s`
  brush-core/src/builtins/mapfile.rs
  brush-shell/tests/cases/builtins/mapfile.yaml
Labels: area: builtins

#482 Implement ulimit
  Cargo.lock
  brush-core/Cargo.toml
  brush-core/src/builtins.rs
  brush-core/src/builtins/factory.rs
  brush-core/src/builtins/ulimit.rs
  brush-shell/tests/cases/builtins/ulimit.yaml
  rustfmt.toml
Labels: state: needs review, area: builtins

#521 fix(tokenizer): correctly treat $( (...) ) as a cmd substitution
  brush-parser/src/tokenizer.rs
  brush-shell/tests/cases/word_expansion.yaml
Labels: area: parsing, origin: bash test suite

#526 fix(vars): ensure effective GID is first in GROUPS
  brush-core/src/shell.rs
Labels: area: compat, origin: bash test suite

#527 fix(arithmetic): permit space after unary operator
  brush-parser/src/arithmetic.rs
  brush-shell/tests/cases/arithmetic.yaml
Labels: origin: bash test suite

#532 ci: hash-pin actions + explicitly constrain token needs
  .github/workflows/cd.yaml
  .github/workflows/ci-reports.yaml
  .github/workflows/ci.yaml
  .github/workflows/devcontainer.yaml
  .github/workflows/docs.yaml
  .github/workflows/spelling.yaml
Labels: area: pr/ci process
